@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin:0;
    padding:0;
}

/* src/styles/global.css */
body {
    @apply font-roboto;
    background-color: #111;
  }


  .posters::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }
.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
}












